
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>COSC 331 Project 2 Test</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="src/views/view.js"></script>

  </head>
  <body>

    <h3>Add a Contact</h3>
    <p>First Name:<input type="text" id="firstName"></p>
    <p>Last Name:<input type="text" id="lastName"></p>
    <p>Phone:<input type="text" id="phone"></p>
    <p>Email:<input type="text" id="email"></p>
    <p>Company:<input type="text" id="company"></p>
    <button id="add">Please Work</button>

    <h2>Contacts</h2>
    <ul id="list"></ul>

    <h4> Delete a contact</h4>
    <p> Type the ID of the person you want to delete.</p>
    <p>ID:<input type="text" id="id"></p>
    <button id="delete">Delete</button>
  </body>
</html>
